{% extends 'admin/custom_list/base.html.twig' %}

{% block theadTable %}
    <tr role="row">
        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable"
            rowspan="1"
            colspan="1" aria-sort="ascending"
            aria-label="Name: activate to sort column descending" style="width: 144px;">
            Coin
        </th>
        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable"
            rowspan="1"
            colspan="1" aria-sort="ascending"
            aria-label="Name: activate to sort column descending" style="width: 144px;">
            Public
        </th>
        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable"
            rowspan="1"
            colspan="1" aria-sort="ascending"
            aria-label="Name: activate to sort column descending" style="width: 144px;">
            Entry
        </th>
        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable"
            rowspan="1"
            colspan="1" aria-sort="ascending"
            aria-label="Name: activate to sort column descending" style="width: 144px;">
            Stop
        </th>
        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable"
            rowspan="1"
            colspan="1" aria-sort="ascending"
            aria-label="Name: activate to sort column descending" style="width: 144px;">
            Actions
        </th>
    </tr>
{% endblock %}


{% block tbodyTable %}
    {% for spot in spots %}
        <tr>
            <td>
                {{ spot.coin.name }}
            </td>

            <td>
                {% if spot.isPublic %} Oui {% else %} Non {% endif %}
            </td>
            
            <td>
                {{ spot.entry }}
            </td>

            <td>
                {{ spot.stop }}
            </td>

            <td>
                <a href="{{ path('admin_edit_spot', {'id': spot.id}) }}"
                   class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2">
                    <i class="fa-solid fa-pen"></i></a>
                <a href="{{ path('admin_delete_spot', {'id': spot.id}) }}"
                   class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2">
                    <i class="fa-solid fa-circle-minus"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
